<h1> Coupon Showcase</h1>
<% @coupons.each do |coupon| %>
   <h4><a href="/coupons/<%= coupon.id %>"><%=coupon.brand%>:  $<%= sprintf("%.2f", coupon.amount) %> Savings </a></h4>
    <h5>Description: <%=coupon.description%></h5>
    <h5>Expires: <%= coupon.expiration.strftime("%b %d, %Y") %></h5>
    <br>
<% end %>

